# Ignorar el archivo de configuración
config.py

# Ignorar archivos de entorno
.env

# Ignorar archivos temporales
*.tmp

# Ignorar archivos de caché
*.log

# Ignorar archivos de caché
*.cache

# Ignorar archivos de caché
*.swp

# Ignorar archivos de caché
__pycache__